.App {
 /* text-align: center; */
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-ReviewBox {
  background-color: #abeeaf;
  min-height: 5vh;
  border-collapse: collapse;
  border: solid 2px #282c34;
}

.App-SubmissionForm {
  background-color: rgba(8, 58, 17, 0.8);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.App-link {
  color: #61dafb;
}


